html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
background-repeat: no-repeat;
background-size: contain;
  background: rgb(62,185,230);
  background: linear-gradient(0deg, rgba(62,185,230,1) 0%, rgb(59, 107, 238) 100%);
  font-family: "Raleway";
}
.outer_container {
  padding: 2em 12em;
  justify-content: space-between;
}
@media (max-width:1200px) {
    .outer_container{
        padding: 2em 6em      
    }
}
@media (max-width:750px) {
    .outer_container{
        padding: 2em 4em;
    }
}
@media (max-width:650px) {
    .outer_container{
        padding: 2em 2em;
    }
}
@media (max-width:600px) {
    .outer_container{
        padding: .2em;
    }
}

.input_value {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.5em;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 0em 0.5em;
  font-family: "Raleway";
}
.input_value::placeholder {
  color: #fff;
  font-family: "Raleway";
}
@media(max-width:600px) {
  .input_value::placeholder{
    font-size: .7em;
  }
}
.input_value:focus {
  outline: none;
}

/* current======== */
/* current_place */

.current_place {
  display: flex;
  justify-content: space-between;
  color: #f1f1f1;
}
@media(max-width:600em) {
  .current_place{
    margin-top: 2em;
  }
}
.current_location {
  margin-top: 0.3em;
  font-size: 4.5em;
}
@media(max-width:850px) {
  .current_location{
    font-size: 4em;
  }
}
@media(max-width:700px) {
  .current_location{
    font-size: 3.5em;
  }
}
@media(max-width:600px) {
  .current_location{
    font-size: 2.5em;
  }
}
@media(max-width:450px) {
  .current_location{
    font-size: 2em;
  }
}
.datitle {
  font-size: 0.18em;
}
.current_temp {
  font-size: 7em;
}
@media(max-width:850px){
  .current_temp{
    font-size: 6.5em;
  }
}
@media(max-width:700px){
  .current_temp{
    font-size: 5.5em;
  }
}
@media(max-width:600px) {
  .current_temp{
    font-size: 4.5em;
  }
}
@media(max-width:450px) {
  .current_temp{
    font-size: 3em;
  }
}
/* current_details */
.current_details {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0em 0em 6em 0em;
  text-align: center;
}
@media(max-width:750px){
  .current_details{
    font-size:.8em
  }
}
@media(max-width:600px){
  .current_details{
    margin: 0em 0em 5em 0em;
    font-size: .7em;
  }
}
@media(max-width:450px){
  .current_details{
    margin: 0em 0em 5em 0em;
    font-size: .6em;
  }
}
.current_icon {
  width: 4em;
}
.cicon {
  color: #fff;
  font-size: 2em;
  margin: 0.5em;
}
/* forecast======= */
.forecast_title,
.forecast_main {
  color: #fff;
  font-size: 1.2em;
  margin-left: 0.5em;
  margin-bottom: 0.7em;
}
/* forecast hourly */
.forecast_hourly {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
@media(max-width:600px) {
  .forecast_hourly{
    overflow-x: scroll;
    justify-content: start;
    margin-bottom: 1em;
  }
  .forecast_hourly::-webkit-scrollbar{
    display: none;
  }
  .forecast_hourly::scrollbar{
    display: none;
  }
}
.hourly_items {
  margin: 0 0.2em;
  padding: 0.5em;
  border-radius: 4%;
  font-size: 1em;
  text-align: center;
  color: #fff;
}
@media(max-width:1000px) {
    .hourly_items{
        font-size: .9em;
    }
}
@media(max-width:900px) {
    .hourly_items{
        font-size: .8em;
    }
}
@media(max-width:750px) {
    .hourly_items{
        font-size: .7em;
    }
}
@media(max-width:700px) {
  .hourly_items{
    font-size: .6em;
  }
}
.hourly_icon {
  width: 3em;
}

/* forecast daily */
.forecast_daily {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 2em; */
}
@media(max-width:650px){
  .forecast_daily{
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .daily_items{
    display: flex;
    justify-content: space-between;
  }
  .daily_items br{
    display: none;
  }
  .daily_items > span{
    font-size: 1.5em;
  }
}


.daily_icon {
  width: 5em;
}
@media(max-width:650px) {
  .daily_icon{
    width: 2em;
  }
}

@media(max-width:900px) {
    .daily_items{
        font-size: .8em
    }
}
@media(max-width:750px) {
    .daily_items{
        font-size: .7em;
    }
}
@media(max-width:700px) {
  .daily_items{
    font-size: .6em;
  }
}

.daily_items {
  margin: 0 0.5em;
  padding: 1em;
  border-radius: 4%;
  text-align: center;
  color: #fff;
}
/* MadeBy */

.made_by>a
{
  color: #fff;
  text-decoration: none;
}
.made_by{
  color: #fff;
  position: fixed;
  right: 0%; bottom: 0%;
  padding: 10px;
  font-size: .6em;
  margin-top: 3em;
  letter-spacing: 1px;
}


